@font-face {
  font-family: "Spanish-Teletext";
  src: url("./fonts/Spanish-Teletext.ttf.woff") format("woff"),
    url("./fonts/Spanish-Teletext.ttf.svg#Spanish-Teletext") format("svg"),
    url("./fonts/Spanish-Teletext.ttf.eot"),
    url("./fonts/Spanish-Teletext.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Spanish-Teletext";
  margin: 0;
  overflow: hidden;
  background: #000;
}
.mainContainer {
  background: #000;
}

.admin {
  background: red;
}
#message-container {
  position: relative;
  color: #fff;
  font-size: 22px;
  height: 100vh;
  width: 30%;
}
#messages {
  position: absolute;
  left: 10;
  height: 100vh;
  width: 100%;
  overflow: scroll;
}
.message {
  margin-top: 10px;
}
.message {
  padding: 1%;
  width: 96%;
  overflow: hidden;
}

.message.supervisor-1 {
  background-color: red;
}

h3 {
  background: #ff00ff;
}

#marquee1 {
  font-size: 80px;
  margin-bottom: 10px;
  /* background: #00ffff; */
}

#marquee2 {
  font-size: 80px;
  background: #00d000;
}

#video {
  width: 100%;
}

.atheneLogoContainer {
  position: absolute;
  top: 30px;
  left: 30px;
}

.atheneLogo {
  width: 100px;
  animation: rotation 16s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#other {
  background: #000;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 70%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

#left {
  bottom: 10px;
  width: 70%;
  height: auto;
}
#info {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 30%;
}

#info #name {
  font-size: 40px;
}

#info #phone {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#info #form span {
  display: block;
}

#info #form span#form-addr {
  margin-bottom: 30px;
}
